body {
   background-image: url(../backgrounds/main-background.png);
   background-size: 100% 80%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
#alfatube-transparent-logo {
   width: 300px;
   margin: auto;
   display: block;
   margin-top: -15px;
}
#vid-1 {
   width: 100%;
}
.video-container {
   width: 30%;
}
@media (max-width: 780px) {
  .video-container {
     margin: auto;
     width: 80%;
  }
}